#body{
	margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
}
	
#header{
	background-color: black;
	padding-top: 0px;
	width: 100%;
	position: relative;
}
#holograph{
	height: 250px;
	width: 35%;
	background-color: rgba(0,0,0,0.3);
	border-radius:15px;
	margin-left: 32%;
}
#container1{
	text-align:center;
	min-height:900px;
	max-height: 7000px;
	overflow:hidden;
	width: 100%;
}
#container2{
	min-height:900px;
	max-height: 7000px;
	overflow:hidden;
	width: 100%;
}
.motto {
margin: 0 auto;
margin-top: 20px;
background: rgba(0,0,0,0.3);
width: 940px;
border-bottom-right-radius: 7px;
border-top-right-radius: 7px;
border-bottom-left-radius: 7px;
border-top-left-radius: 7px;
height: 220px;
display: inline-block;
/* float: left; */
text-align: center;
padding-top: 13px;
font-family: open_sansregular;
text-align: center;
/* top: 5%; */
}

img.motto_img {
width: 950px;
height: 200px;
/* margin-top: 10px; */
/* margin-bottom: 67.5%; */
/* margin-right: 5%; */
margin-left: 7px;
}
#content1{
	margin-top: 0%;
}
#footer{
	background-color: black;
	width: 100%;
}
.notselected{
	display:block;
	border: 2px solid;
	//border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	//border-width:3px 4px 4px 3px;
	width:9em;
	height:2em;
	background:rgb(167, 143, 143);
	color:black;
	line-height:2;
	text-align:center;
	text-decoration:none;
	font-weight:900;
}
.selected{
	display:block;
	border: 1px solid;
//	border-style:solid;
	border-color: #666 #aaa #bbb #888;
	//border-width:4px 3px 3px 4px;
	width:9em;
	height:2em;
	color:black;
	line-height:2;
	text-align:center;
	text-decoration:none;
	font-weight:900;
	background:white;
}
.notselected:hover{
	cursor:pointer;
}
.main{
	display: flex;
	padding-left: 40%;
	margin-top: 40px;
}
#loginpopup{
	border-radius: 0px;
	height: 65px;
	width: 100px;
}
#listpopup{
	border-radius: 0px;
//	height: 65px;
}
#list{
	border-radius: 0px;
	height: 65px;
}
.pac-item: hover{background-color: brown! important;}
