.container2{
	width:100%;
	height:600px;
	padding: 20px;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background: black;
	text-align:;
}
.pager1 img{
	height: 100%;
	width: 100%;
}
.image_slide img{
	margin-bottom: -0.51%;
	height:400px;
	width: 100%;
}
.contents1 table td{
	padding: 5px;
}
.slide_wrapper{
	overflow:hidden;
	position: relative;
	height: 70%;
	top:auto;
	width: 55%;
	border: 5px solid white;
}
.wrapper{
	display: inline;
}
.slide_wrapper1{
	overflow: hidden;
	position:relative;
	height:100%;
	width: auto;
}
.image_slide{
	position:relative;
	height:auto;
	list-style: none;
	overflow:hidden;
	float: left;
	padding: 0px;
	margin: 0px;
}
.image_slide li{
	position: relative;
	float: left;
}
.nvgt{
	position: absolute;
	top: 40%;
	height: 50px;
	width: 30px;
	opacity: 0.6;
}
.nvgt:hover{
	opacity: 0.9;
}
.nvgt1{
	position: absolute;
	top: 22px;
	height: 50px;
	width: 30px;
	opacity: 0.6;
}
.nvgt1:hover{
	opacity: 0.9;
}
.pager1{
	padding: 0px;
	position: relative;
	height: auto;
	margin: auto;
	margin-top: 5px;
	width: auto;
}
.pager1 li{
	padding: 0px;
	margin: 30px;
	border: 1px solid white;
	color: white;
	list-style: none;
	opacity: 0.6;
	float: left;
	border-radius: 3px;
	cursor: pointer;
	overflow: hidden;
	height: 100px;
}
.pager1 li:hover{
	opacity: 0.9;
}
